.export_extensions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;
}

.ext_card {
  width: 140px;
  height: 140px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ext_card img {
  width: 90px;
  height: 90px;
  object-fit: contain;
  z-index: 10;
}

.ext_background {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
