.home_content_section_container {
   display: flex;
   justify-content: center;
   width: 100%;
   padding: 0 1.3rem;
   box-sizing: border-box;
}

.home_content_section {
   display: flex;
   width: 100%;
   max-width: 1200px;
}
