.home_header {
   width: 100%;
   display: flex;
   justify-content: center;
}

.home_header_container {
   display: flex;
   justify-content: center;
   width: 100%;
   padding: 4rem 0rem;
   align-items: center;
   gap: 1.5rem 4.5rem;
}

.home_header_container img {
   width: 400px;
}

.logo_text {
   display: flex;
   align-items: center;
   gap: 0 10px;
}

.logo_text h1 {
   font-size: 3.2rem;
   margin-bottom: 0.4rem;
}

.header_text p {
   margin-bottom: 1.3rem;
   font-size: 1.1rem;
}

.header_text_buttons {
   display: flex;
   align-items: center;
   font-size: 1.2rem;
   gap: 1rem 1.3rem;
}

.command_div {
   padding: 0.7rem 0;
   width: 315px;
   border: 2px solid var(--gray_color);
   border-radius: 999px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0 15px;
}

.command_div p {
   margin-bottom: 0;
   font-size: 1.1rem;
   color: var(--gray_strong_color);
   white-space: nowrap;
}

[data-theme='dark'] .command_div p {
   color: white;
}

.command_div button {
   white-space: nowrap;
   transform: translateY(1.5px);
}

.copy_button {
   stroke: var(--gray_strong_color);
}

[data-theme='dark'] .copy_button {
   stroke: white;
}

.check_button {
   stroke: var(--green_color);
}

@media screen and (max-width: 1000px) {
   .home_header_container {
      flex-direction: column;
      align-items: center;
   }

   .header_text_buttons {
      justify-content: center;
   }

   .header_text {
      text-align: center;
   }

   .logo_text {
      text-align: center;
      justify-content: center;
   }
}

@media screen and (max-width: 640px) {
   .header_text_buttons {
      flex-direction: column;
   }

   .header_text_buttons .button-primary {
      width: 315px !important;
   }

   .home_header_container img {
      width: 260px;
   }

   .logo_text h1 {
      font-size: 2.8rem;
   }

   .header_text p {
      font-size: 1rem;
   }
}
